

.card-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

.card-content {
  padding: 10px;
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.card-content.closed {
  max-height: 0;
  padding: 0 10px;
}